@charset "utf-8";

#wrap{
	width: 798px;
	margin: 40px auto;
	padding: 40px 80px;
	border: #77b94b 5px solid;
	background-color: #f3f3d6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 250%;
    color: #333;
}
h2 {
    color: #178d48;
    border: #3d2f2f 1px dotted;
    border-left: #FFA07A 10px solid;
    padding: 10px;
    margin-bottom: 0;
}
ul{
    color:#000000;
    border:#94c8b1 1px dotted;
    border-left:#d0e35b 10px solid;
    padding:5px 20px;
    margin-bottom:0;
}

p {
    color: #666;
}

/* 內容區塊樣式 */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 表格樣式 */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/*連結顏色設定*/

a{
	color:#1619c3;
}

a:hover{
	color:#4622c5;
}

a:visited{
    color:#c20f0f;
}